conf/classes.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="classe">
        <xs:complexType>
            <xs:attribute name="dir" type="xs:string" use="required" />
            <xs:attribute name="arq" type="xs:string" use="required" />            
        </xs:complexType>
    </xs:element>
    
    <xs:element name="classes" minOccurs="1" maxOccurs="1">
        <xs:complexType>
            <xs:all>
                <xs:element ref="classe" minOccurs="0" maxOccurs="unbounded" /> 
            </xs:all>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
